@charset "utf-8";

/* CSS Document */

.carousel-caption {
    z-index: 10;
    display: inline-flex;
    flex-direction: column
}


/* Declare heights because of positioning of img element */

.carousel-item {
    min-height: 32rem;
    background-color: #777;
    background-size: COVER;
    background-position: center;
}

.carousel-item a {
    height: 100%;
    width: 100%;
}

.carousel-caption:hover>.banner_txt {
    background-color: rgba(0, 0, 0, 0.1);
}

.carousel-item>img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
}

h2.banner_txt {
    border-bottom: #666 0px solid;
    color: #FFF;
    margin-bottom: 5px
}

h2.banner_txt,
h5.banner_txt {
    background-color: rgba(0, 0, 0, 0.4);
    display: inline-flex;
    width: fit-content;
    padding: 10px
}


/*英文版調版*/

.page-item.active .page-link {
    background-color: #109A8A;
    border-color: #109A8A;
}

.page-link:hover {
    color: #109A8A;
}

h2.LatestNews {
    color: #2d5c88;
    font-weight: 300;
    border-bottom: unset;
    display: flex;
    justify-content: center;
    margin: 60px 0 40px 0;
}

table.dataTable {
    border: 0;
    margin-bottom: 60px !important;
}

table.dataTable tr,
table.dataTable td {
    border: 0
}

table.dataTable td {
    border-bottom: #ccc 1px solid;
}

table.dataTable td a:not([href]):not([tabindex]) {
    display: block;
    margin-top: 10px;
    cursor: pointer;
    color: #2d5c88;
    font-weight: bold
}

.date {
    display: block;
    font-size: 0.9em;
    color: #333333;
}

.dataTables_info,
.dataTables_paginate {
    display: flex;
    float: left;
    margin-bottom: 60px;
}

.dataTables_paginate {
    float: right;
}

.Zero {
    align-items: center;
    display: block;
}

.Zerotitle {
    color: #2d5c88;
    font-weight: 300;
    border-bottom: unset;
    display: flex;
    justify-content: center;
    margin: 0;
    font-size: 2rem;
}

.Zero .new_border {
    max-width: 500px;
}

.Zero .new_border2 {
    max-width: 1020px;
    margin: 50px auto;
}

.Zero .wid48percent {
    position: absolute;
    left: 0;
    top: 15%;
}

.annual_en {
    margin: 0 auto
}

.AnnualReportimg {
    width: 100%;
    position: relative;
}

.AnnualReportimg .width1340 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.AnnualReportimg a {
    width: calc(100% / 3 - 50px);
    margin: 50px 25px;
}

.AnnualReportimg a img {
    width: 100%;
}

.annual_en ul {
    width: 100%;
}

.annual_en ul li {
    border-bottom: #ccc 1px solid
}

.annual_en ul li:before {
    content: "";
    position: relative;
    display: block;
    width: 26px;
    height: 33px;
    background: url(/fore/img/PDF.svg) no-repeat left top;
    background-size: contain;
    margin-right: 20px;
}

.AnnualReportimg_blue {
    background-color: #109A8A;
    width: 100%;
    opacity: 0.23;
    height: 300px;
    position: absolute;
    right: 0;
    top: 10%;
}

@media screen and (max-width: 941px) {
    .carousel-item {
        min-height: 20rem;
    }
    h5.banner_txt {
        display: none;
    }
    h2.banner_txt {
        font-size: 1.1rem
    }
    .AnnualReportimg a {
        width: calc(100% - 50px);
        margin: 50px 50px;
    }
}